<!DOCTYPE html>
<html ng-app="app">
<head>
<meta charset="utf-8">
<meta name="HandheldFriendly" content="true"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
<title>模块化开发体系</title>
<link rel="apple-touch-icon" sizes="57x57" href="lib/bootstrap/bootstrap.css">
<meta name="description" content="" />
<meta name="keywords" content="" />
</head>
<body>
<div class="site">
<div class="site-header" id="site-header"></div>
<div class="site-menu" id="site-menu"></div>
<div class="site-content" id="site-content" ng-view>
</div>
<div id="site-footer" class="site-footer"></div>
</div>
<script src="lib/lib.js"></script>
<script>
</script>
</body>
</html>