.footer
  padding:25px 0 30px
  border-top:1px solid #dbdbdb
  font-size:14px
  line-height:14px
  color:#b1b1b1
  font-family: '微软雅黑'
  background: #494949
  line-height:30px
  text-align:center
  .nobr
    border-right:0
  .ft_p1
    padding:10px 0 29px
  a
    padding: 0 30px
    color: #b1b1b1
    cursor: pointer
  a.x-add1 img
    margin-right:7px
  .w940
    position:relative
    .wS
      position:absolute
      left:193px
      bottom:45px
      cursor: pointer
      display:none
      z-index: 10000